.NavBar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10 ; /* Ensures the navbar stays on top of other elements */
    background: rgba(255, 255, 255, 0.022); /* Semi-transparent background */
    backdrop-filter: blur(10px); /* Blur effect */
    -webkit-backdrop-filter: blur(10px); /* Safari support */
  }

  